[Desktop Entry]
Name=CodeBuddy CN
Comment=Run CodeBuddy CN on Linux
Exec=__EXEC__
Icon=codebuddycn
Type=Application
Categories=Development;IDE;
StartupNotify=true
StartupWMClass=CodeBuddy CN
MimeType=x-scheme-handler/codebuddycn;
